<div class="panel panel-info">
    <div class="panel-heading">{{$ctrl.context.name}}</div>
    <div class="panel-body">

        <ul>
            <li ng-repeat="item in $ctrl.context.items">{{item.name}}</li>
        </ul>

        <form ng-submit="addItem()" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Item name" ng-model="itemName">
            </div>
            &nbsp
            <button type="submit" class="btn btn-default">New Item</button>
        </form>
    </div>
</div>